{% extends 'base/base.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}

	<div class="input-group no-border input-lg {% if form.username.errors %}has danger{% endif %}">
		<div class="input-group-prepend">
            <span class="input-group-text">
                <i class="now-ui-icons users_circle-08"></i>
            </span>
        </div>
        <label >Nombre de usuario</label><br/>
        {{ form.username }}
    </div>
    <span class="text-danger text-sm-left">{{ form.username.errors }}</span>


	<div class="input-group no-border input-lg {% if form.password.errors %}has danger{% endif %}">
		<div class="input-group-prepend">
            <span class="input-group-text">
                <i class="now-ui-icons ui-1_lock-circle-open"></i>
            </span>
        </div>
        <label >Contraseña</label><br/>
        {{ form.password }}
    </div>
    <span class="text-danger text-sm-left">{{ form.password.errors }}</span>


	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<button class="btn btn-primary btn-round btn-lg btn-block "type="submit">Ingresar</button>
			</div>
		</div>
	</div>

</form>
{% endblock %}