{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">

	{% block extrastatic %}
	{% endblock %}

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<title>{% block title %}Sitios Culturales {% endblock %}</title>
</head>
<body>
<div class="container">

	{% block navbar %}
		<div class="bs-docs-section clearfix">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="bs-component">

		            	<nav class="navbar navbar-default">
		                	<div class="container-fluid">
                                <h1 class="art-headline" data-left="18.5%">
    <a href="{% url 'categoria:index' %}">GuideNy</a>
</h1>
<h2 style="color: #CCCC66">Tenemos lo que&nbsp;Necesitas!</h2>

		                  		<div class="navbar-header">
		                    		<a class="navbar-brand" href="{% url 'categoria:index' %}">Home</a>
		                  		</div>
		                  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                    	<ul class="nav navbar-nav">

		                      		<li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categoria <span class="caret"></span></a>
		                        		<ul class="dropdown-menu" role="menu">
                                            <li><a href="{% url 'categoria:listar' %}"> Listar </a> </li>
                                            <li><a href="{% url 'categoria:crear' %}"> Añadir </a> </li>

				                        </ul>
		                      		</li>
                                </ul>

                                <ul class="nav navbar-nav">

		                      		<li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lugar<span class="caret"></span></a>
		                        		<ul class="dropdown-menu" role="menu">
                                            <li><a href="{% url 'lugar:listar' %}"> Listar </a> </li>
                                            <li><a href="{% url 'lugar:crear' %}"> Añadir </a> </li>

				                        </ul>
		                      		</li>
                                </ul>
                                <ul class="nav navbar-nav">

		                      		<li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Estado<span class="caret"></span></a>
		                        		<ul class="dropdown-menu" role="menu">
                                            <li><a href="{% url 'estado:listar' %}"> Listar </a> </li>
                                            <li><a href="{% url 'estado:crear' %}"> Añadir </a> </li>

				                        </ul>
		                      		</li>
                                </ul>
                                <ul class="nav navbar-nav">
		                      		<li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Municipio<span class="caret"></span></a>
		                        		<ul class="dropdown-menu" role="menu">
                                            <li><a href="{% url 'municipio:listar' %}"> Listar </a> </li>
                                            <li><a href="{% url 'municipio:crear' %}"> Añadir </a> </li>

				                        </ul>
		                      		</li>
                                </ul>
		                    	<ul class="nav navbar-nav navbar-right">
		                        	<li class="dropdown">
		                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Opciones<span class="caret"></span></a>
		                        		<ul class="dropdown-menu" role="menu">
                                            <li> <a href="{% url 'lugar:comentarnuevo' %}"> Comentar</a> </li>
                                            <li><a href="{% url 'usuario:registrar' %}"> Registrarse</a></li>
		                        		</ul>
		                      		</li>
		                    	</ul>
                                <div>
                                    <center>
                            <img src="http://agencia.donweb.com/wp-content/uploads/2017/05/Playa-del-Carmen-601751-smalltabletRetina-1024x576.jpg" width="95%" align="middle">
                                    </center>
                                </div>
		                    </div>
		                </div>
		            </nav>
		        </div>
           	</div>
        </div>
    </div>

	{% endblock %}

	{% block content %}
	<h4>	Bloque de contenido		</h4>

<div align="center">
<div class="art-layout-cell layout-item-2" style="width: 67%" >

        <h1>México</h1>
        <p align="justify" ><span style="font-style: italic;">México es un topónimo de origen mexicano (náhuatl) cuyo significado es discutido. Deriva del vocablo náhuatl Mēxihco [me:ʃiʔko], que designaba la capital de los mexicas. De acuerdo con Bernardino de Sahagún (siglo XVI), que es la fuente documental más antigua, el vocablo significaría 'el lugar de Mexi', de Mexitl donde metl (maguey), citli/xitli (liebre) y -co (locativo):29​ Mexi o Mexitl quien fuera un legendario sacerdote nahua, guió a sus seguidores por la búsqueda de un águila sobre un nopal para la fundación de su ciudad luego de abandonar la también legendaria Aztlan. Sin embargo, actualmente la versión más extendida sobre el significado del vocablo es: 'el ombligo de la luna', de Metzxico: metz(tli) (luna), xic(tli) (ombligo, centro) y -co (locativo), según Cecilio Robelo y Alfonso Caso. Sahagún redacta el origen del vocablo de la siguiente forma:</span></p>
        <h1 align="justify">¿Quienes somos?</h1>
        <p align="justify">Somos una empresa dedicada al turismo mexicano, resume tus busquedas de los lugares mas turisticos de la republica, desde playas hasta pueblos. Ayudandote a llegar a los lugares mas olcultos y maravillosos del México. </p>
        <h2 align="center"><img src="https://www.mexicodesconocido.com.mx/sites/default/files/styles/adaptive/public/fichas-destino/jalisco-guachimontones-cristobal-de-alba-mdio8a3732.jpg" width="90%" height="250"></h2>
        <div>
 </div>


 <link rel="stylesheet" href="css/style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="css/style.responsive.css" media="all">
    <link rel="stylesheet" href="css/estilos_proyecto.css">
    <script src="javascript/jquery.js"></script>
    <script src="javascript/script.js"></script>
    <script src="javascript/script.responsive.js"></script>
<style>.art-content .art-postcontent-0 .layout-item-0 { margin-top: 20px;  }
.art-content .art-postcontent-0 .layout-item-1 { border-style:Solid;border-width:0px;border-color:#FAFAFA;  border-collapse: separate;  }
.art-content .art-postcontent-0 .layout-item-2 { padding-right: 10px;padding-left: 10px;  }
.art-content .art-postcontent-0 .layout-item-3 { margin-top: 10px;  }
.art-content .art-postcontent-0 .layout-item-4 { border-spacing: 10px 0px; border-collapse: separate;  }
.art-content .art-postcontent-0 .layout-item-5 {  border-collapse: separate;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

</style>

        </head>


	{% endblock %}


	{% block footer %}
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div align="right" class="art-layout-cell layout-item-0" style="width: 100%">

        <p><br></p>
        <p>Copyright © 2011-2012. All Rights Reserved.</p>
        <p>Icons by <a href="http://www.oxygen-icons.org/">Oxygen Team</a>&nbsp;and&nbsp;<a href="http://www.elegantthemes.com/">Elegantthemes</a></p>
        <br/>
        <br/>
        <br/>
    </div>

        <br/>
        <div class="art-layout-cell layout-item-0" style="width: 100%">
        <p style="float:right;"><a href="#"></a><img width="64" height="64" alt="" src="imagenes/rss-icon.png" class="">
        <a href="#"><img width="64" height="64" alt="" src="https://seeklogo.com/images/T/twitter-2012-negative-logo-5C6C1F1521-seeklogo.com.png" class=""></a>
        <a href="#"><img width="64" height="64" alt="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/600px-Facebook_logo_%28square%29.png" class=""></a>
        <a href="#"><img width="64" height="64" alt="" src="https://image.freepik.com/free-icon/youtube-logo_318-49909.jpg" class=""></a>
        <a href="#"><img width="64" height="64" alt="" src="http://alaida-urnas.es/wp-content/uploads/2018/03/instagram-logo-png-transparent-background-1024x1024.png" class=""></a>
        <a href="#"><img width="64" height="64" alt="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Tumblr.svg/2000px-Tumblr.svg.png" class=""></a></p>
    </div>

	{% endblock%}
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



	{% block extrajs %}

	{% endblock %}


</body>
</html>
