{% extends 'base/base.html' %}
{% block content %}

<table class="table table-bordered">
    <thead>
    <tr>
        <td>No.</td>
        <td>Nombre  Estado </td>
        <td>Acciones</td>
    </tr>

    </thead>

    <tbody>
    {% if object_list %}
    {% for estado in object_list %}
    <tr>
        <td>{{ estado.id }}</td>
        <td>{{ estado.name_estado }}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'estado:editar' estado.id %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'estado:eliminar' estado.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <h1>No hay registros</h1>
    {% endif %}
    </tbody>

</table>
{% endblock %}