{% extends 'base/base.html' %}
{% block content %}

<table class="table table-bordered">
    <thead>
    <tr>
        <td>No.</td>
        <td>Nombre(s) Apellido(s)</td>
        <td>Comentarios</td>
        <td>Email</td>
    </tr>
    </thead>

    <tbody>
    {% if object_list %}
    {% for comentario in object_list %}
    <tr>
        <td>{{ comentario.id }}</td>
        <td>{{ comentario.name_persona }}</td>
        <td>{{ comentario.comentario}} </td>
        <td>{{ comentario.email }} </td>
        <td>
            <a class="btn btn-primary" href="{% url 'comentario:editar' comentario.id %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'comentario:eliminar' comentario.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <h1>No hay registros</h1>
    {% endif %}
    </tbody>

</table>
{% endblock %}